textarea, input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
  }
  input {
    height: 36px;
    font-size: 24px;
  }
  textarea {
    height: 200px;
    font-size: 18px;
  }
/* 
  #articles {
   
  } */

  .articleDiv {
    border-radius: 25px;
    border-left: 1px solid black;
    background-color:  #FFFFFF;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    text-align: center;
  }

  h2{
    background-color: #4C85C5;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    

  }
  .btn-warning{
    margin-bottom: 10px;
  }

  .title > a {
    color: #FFFFFF
  }
 .title > a:hover{
    color: #F15B1C;
    text-decoration: none;
  }

  .teaser {
    margin-left: 20%;
    margin-right: 20%;
  }

  .imageDiv {
    margin: 20px;
    text-align: center;
  }
  /* body{
    background-color: 
  } */